# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Watchman
.metro-health-check*
node_modules/.cache/
node_modules/.metro-cache/
.watchmanconfig
.watchman-*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.pem

# Windows
ehthumbs.db
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Artifacts
*.apk
*.ipa
*.aab
build/
eas-build/

# Testing
coverage/
.nyc_output/
jest/

# typescript
*.tsbuildinfo

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Temporary files
.tmp/

# generated native folders
/ios
/android
